* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box-1 {
    background-color: red;
    color: white;
    border: solid 1px black;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    padding: 10px 0 0 20px;

}

.sections {
    margin-left: 30px;
    height: 150px;
    width: 800px;
}

.headings {
    margin: 0 0 10px 0;
}

.h1-headings {
    margin: 0 0 10px 0;
}


.main-buttons {
    background-color: black;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.main-buttons:hover {
    background-color: red;
}

.article-sections {

    margin: 70px 0 0 30px;

}

nav {
    width: 300px;
    height: 30px;
    background-color: black;
    border-radius: 20px;
    margin: 20px 0 0 400px;
}

.nav-item {
    background-color: black;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    
}